body {
    margin: 0;
    font-family: Arial;
    background: #0a0a0a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255,255,255,0.05);
}

.logo {
    height: 40px;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 50px;
}

.hero button {
    padding: 12px 24px;
    background: #22c55e;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #22c55e;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #22c55e;
}

.card button {
    background: #22c55e;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 8px;
}